{% extends 'base.html' %}

{% block content %}
<div class="dashboard-content px-3 pt-5">
    <div class="ms-sm-auto px-md-4">
        <div class="call-details">
    <body>
        <h1>Phone Call Details</h1>
        <div class="call-info">
        <p>Caller: {{ call.callerNumber }}</p>
        <p>Call Start: {{ call.callStartTimestamp }}</p>
        <p>Call End: {{ call.callEndTimestamp }}</p>
        <p>Call Duration: {{ call.callDurationInSeconds }}</p>
        </div>
        <div class = 'transcript'>
        <h1>Transcript for Call {{ formatted_transcript|safe }}</h1>
        </div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <button class="view-details-btn" onclick="goBack()">Go Back</button>
    </body>
    </div>
</div>
    </div>
{% endblock %}