{% extends 'base.html' %}

{% block content %}
<div class="dashboard-content px-3 pt-5">
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <body>
            <h1>Call Records</h1>
        
            <form action="/history" method="post">
                <label for="month">Select a month:</label>
                <select id="month" name="month">
                    <option value="1" {% if selected_month == 1 %} selected {% endif %}>January</option>
                    <option value="2" {% if selected_month == 2 %} selected {% endif %}>February</option>
                    <option value="3" {% if selected_month == 3 %} selected {% endif %}>March</option>
                    <option value="4" {% if selected_month == 4 %} selected {% endif %}>April</option>
                    <option value="5" {% if selected_month == 5 %} selected {% endif %}>May</option>
                    <option value="6" {% if selected_month == 6 %} selected {% endif %}>June</option>
                    <option value="7" {% if selected_month == 7 %} selected {% endif %}>July</option>
                    <option value="8" {% if selected_month == 8 %} selected {% endif %}>August</option>
                    <option value="9" {% if selected_month == 9 %} selected {% endif %}>September</option>
                    <option value="10" {% if selected_month == 10 %} selected {% endif %}>October</option>
                    <option value="11" {% if selected_month == 11 %} selected {% endif %}>November</option>
                    <option value="12" {% if selected_month == 12 %} selected {% endif %}>December</option> 
                </select>
                <button type="submit">Submit</button>
            </form>
        
            <hr>
        
            <h2>Call Records for Selected Month</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Caller</th>
                        <th>Call Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for call in calls %}
                    <tr>
                        <td>{{ call.callerNumber}}</td>
                        <td>{{ call.callStartTimestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </body>
        </div>
    </div>
{% endblock %}