{% extends 'base.html' %}

{% block content %}
<body>
    <div class="first-page-container" style="display: flex; flex-direction: column; align-items: center;">
        <h1>Phone Call Statistics for This Month</h1>
        <div class="box-container" style="display: flex; justify-content: space-evenly; width: 80%;">
            <div class="box" style="text-align: center;">
                <h2>Total Calls</h2>
                <p class="statistic green-text" id="totalCalls">{{ calls_this_month }}</p>
            </div>
            <div class="box" style="text-align: center;">
                <h2>Reports Generated</h2>
                <p class="statistic green-text" id="missedCalls">Loading...</p>
            </div>
            <div class="box" style="text-align: center;">
                <h2>Total Minutes Saved</h2>
                <p class="statistic green-text" id="answeredCalls">Loading...</p>
            </div>
        </div>
        <div style="width: 80%;">
            <canvas id="myChart"></canvas>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="width: 100px; height:100px;">
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ data.labels | tojson }},
            datasets: [{
                data: {{ data.data | tojson }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });
</script>

    </div>
</body>
{% endblock %}
