<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | CodingLab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Login</span></div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="row">
                    <i class="fas fa-user"></i>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                    <div class="showerror">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                    <div class="showerror">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="row button">
                    {{ form.submit }}
                    {% for error in form.submit.errors %}
                    <div class="showerror">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="signup-link">Do not have an account? <a href="{{url_for('register')}}">Register.</a></div>
            </form>
        </div>  
    </div>
</body>