{% extends 'base.html' %}

{% block content %}
<div class="dashboard-content px-3 pt-5">
    <div class="ms-sm-auto px-md-4">
      <h1 class="mt-2">Manually Create a Report</h1>

        <div class="card-deck" style="padding: 30px;"> <!-- custom-card-deck-->

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/recycling_bag.png" alt="recycling image">
              <div class="card-body">
                <h5 class="card-title">Recycling bags</h5>
                <p class="card-text">Order recycling bags.</p>
                <div class="text-center">
                  <a href="https://www.hillingdon.gov.uk/recycling-bags"> 
                    <button class="button">Report</button>
                  </a>
                </div>
              </div>
          </div> 
      
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/litter.jpeg" class="img-fluid" alt="littering image">
              <div class="card-body">
                <h5 class="card-title">Litter</h5>
                <p class="card-text">Request street cleansing.</p>
                <div class="text-center">
                  <a href="https://www.hillingdon.gov.uk/street-cleansing-issue"> 
                    <button class="button">Report</button>
                  </a>
                </div>
              </div>
          </div> 
   
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/pothole.png" alt="rubbish image">
              <div class="card-body">
                <h5 class="card-title">Potholes</h5>
                <p class="card-text">Report potholes, road and street furniture issues.</p>
                <div class="text-center">
                  <a href="https://www.hillingdon.gov.uk/article/7580/Potholesdamage-to-road-or-pavement"> 
                    <button class="button">Report</button>
                  </a>
                </div>
              </div>
          </div> 

        </div>
        <div class="card-deck" style="padding: 30px;"> <!-- custom-card-deck-->
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/rubbish_collection3.jpeg" alt="rubbish collection image">
              <div class="card-body">
                <h5 class="card-title">Missed rubbish collection</h5>
                <p class="card-text">Arrange another rubbish collection.</p>
                <div class="text-center">
                  <a href="https://www.hillingdon.gov.uk/household-rubbish"> 
                    <button class="button">Report</button>
                  </a>
                </div>
              </div>
          </div> 

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/tree.png" alt="rubbish image">
              <div class="card-body">
                <h5 class="card-title">Tree maintenance</h5>
                <p class="card-text">Report fallen trees or overhanging branches.</p>
                <div class="text-center">
                  <a href="https://www.hillingdon.gov.uk/report-tree"> 
                    <button class="button">Report</button>
                  </a>
                </div>
              </div>
          </div> 

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/noise.png" alt="rubbish image">
              <div class="card-body">
                <h5 class="card-title">Noise complaints</h5>
                <p class="card-text">Report loud noise.</p>
                <div class="text-center">
                  <a href="https://www.hillingdon.gov.uk/article/7555/Noise"> 
                    <button class="button">Report</button>
                  </a>
                </div>
              </div>
          </div> 

        </div>
   </div>
</div>
{% endblock %}