{% extends 'base.html' %}

{% block content %}
<div class="dashboard-content px-3 pt-5">
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1 class="mt-2">View Reports</h1>
        <h2>Reports from {{current_month_name}}: </h2>
        <div class = "table-container">
            <table border="1">
                <thead>
                    <tr>
                        <th>Caller</th>
                        <th>Call Date</th>
                        <th>Call Duration (in seconds)</th>
                        <th>Report Generated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}